//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// -------------------
// Typography / Rhythm
// -------------------

$space: 20px;





// ------
// Colors
// ------

$white: #FFF;
$black: #000;
$color-primary: #A20C0B; 
$color-secondary: #45403D;





// -----
// Fonts
// -----

$font-primary: 'Fjalla One', sans-serif;
$font-secondary: 'Lato', sans-serif;






// -----------
// Breakpoints
// -----------

$break-small: 480px;
$break-medium: 720px;
$break-large: 960px;
$break-xl: 1800px;
$max-width: 1200px;





// ----
// Grid
// ----

$susy: (
	columns: 12,
	gutters: 1/2,
);



